body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-right: auto;
  margin-left: auto;
}
:root {
  --backgr-header: #ffffff;
  --backgr-hero: #2f303a;
  --backgr-team: #f5f4fa;
  --color-button: #2196f3;
  --color-title: #212121;
  --border-img: #eeeeee;

  /* animations */
  --slow-anim: 600ms ease;
  --fast-anim: 400ms ease-in-out;
  --very-fast-anim: 250ms;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* прибрати крапки в списках*/
.item {
  list-style-type: none;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: #2196f3;
}

/*#region -----HEADER------*/
.header {
  background-color: var(--backgr-header);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;
  text-decoration: none;

  color: #212121;
}
.logo__web {
  color: var(--color-button);
}
/*         Навігація сайту         */

.nav__site {
  display: flex;
}

.nav__link--studio {
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav__link,
.nav__link--studio,
.nav__link--portfolio {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__item + .nav__item {
  margin-left: 50px;
}

/*_____Contacts______*/

.contact {
  display: flex;
  margin-left: auto;
}

.contact__link {
  color: #757575;
}

.contact__link:hover,
.contact__link:focus {
  color: #2196f3;
}

.contact__link {
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
}
.contact__item + .contact__item {
  margin-left: 50px;
}

/*#region HEAD ICONS*/
.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

/*#endregion*/

/*_________CONTAINER_______*/

.hero {
  background-color: var(--backgr-hero);
  text-align: center;
  font-family: inherit;
}
.our-work {
  background-color: var(--backgr-work);
}
.uniqueness {
  background-color: var(--backgr-work);
}
.team {
  background-color: var(--backgr-team);
}
.footer {
  background-color: var(--backgr-hero);
}

/*#endregion*/
/*#region HERO,  and TITLE*/
.hero-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero .button {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  cursor: pointer;

  color: #ffffff;
  border: 0;
}
.hero {
  background-color: #c4c4c4;
  width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../image/hero/hero.jpg');
}
/*_____________MODALKA______*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--very-fast-anim), visibility var(--very-fast-anim);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;

  padding: 40px;

  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms ease-in-out 400ms, opacity 250ms ease-in-out 400ms;
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;

  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  align-items: center;
  justify-content: center;
  border-radius: 50%;

  background-color: #fff;

  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  fill: var(--color-button);
}

/*____2______forma-icon_____________*/
.label-frm,
.label-frm {
  display: block;
}

.title-form {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.form-field {
  text-align: left;
  position: relative;
  margin-bottom: 10px;
}

.label-frm {
  position: relative;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: 0.01em;

  color: #757575;
}

.form-text {
  display: block;
  margin-bottom: 4px;
}

.input-form {
  width: 100%;
  min-height: 40px;
  padding: 12px 42px;
  outline: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus,
.input-form:hover {
  border-color: var(--color-button);
}

.input-form:focus + .form-icon,
.input-form:hover + .form-icon {
  fill: var(--color-button);
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: #212121;
}

.form-textarea {
  height: 120px;
  padding-left: 16px;
  resize: none;
}
.check-field {
  margin-bottom: 30px;
}
.checkbox-form {
  width: 16px;
  height: 15px;
  background-color: #212121;
}

.tbn-submit {
  /* width: 200px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;

  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.06em;
  cursor: pointer;

  color: #ffffff;
  border: 0;
}
.form-contract {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.46;

  letter-spacing: 0.03em;

  color: #757575;
}
.link-form {
  color: var(--color-button);
  /* margin-left: 2px; */
}

/* ___________CHECKBOX-Style_____*/

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
.custom-check {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 16px;
  height: 15px;

  margin-right: 7px;

  border: 2px solid #212121;
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-check {
  fill: #fff;

  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-form:checked + .custom-check {
  background-color: var(--color-button);
  border-color: var(--color-button);
}
.checkbox-form:focus + .custom-check,
.checkbox-form:hover + .custom-check {
  border-color: var(--color-button);
}

.checkbox-form:checked + .custom-check .form-check {
  opacity: 1;
}

/*____________ ANIMATION_______*/
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}
.backdrop .modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
/*#endregion*/
/*#region Оссобенности*/
.uniqueness {
  padding-top: 94px;
  padding-bottom: 94px;
}
.specifics-list {
  display: flex;
}

.container .specifics-list .item {
  width: 270px;
}
.specifics-list .item + .item {
  margin-left: 30px;
}
.section-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.uniqueness .second-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;

  margin-bottom: 10px;
}
.uniqueness .text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

/*SVG - Наши особенности*/
.bgr-icon {
  display: flex;
  background-color: #f5f4fa;
  height: 120px;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  border-radius: 4px;
}

/*#endregion*/
/*#region Чим займаємося*/
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}
.our-work .title {
  margin-bottom: 50px;
}
.work-list {
  position: relative;

  display: flex;
}
.our-work {
  padding-bottom: 94px;
}
.work-list .item + .item {
  margin-left: 30px;
}
.work-list .text-img {
  position: absolute;
  bottom: 0;

  /* content: ''; */
  display: flex;
  width: 370px;
  height: 70px;

  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/*#endregion*/
/*#region  Наша Команда TEAM*/
.image {
  display: block;
}
.team .second-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  margin-bottom: 10px;
}
.team .text {
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;

  color: #757575;
}
.team .title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}

.team-list .item + .item {
  margin-left: 30px;
}
.team-list .item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.name {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  border-radius: 0px 0px 4px 4px;
}
/* _______socials icons_________*/
.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.socials-link {
  display: flex;
  width: 44px;
  height: 44px;

  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--color-button);
}
.socials-link:hover .social-icon,
.socials-link:focus .social-icon {
  fill: #ffffff;
}
/*#endregion*/
/*#region Footer*/
.footer .logo {
  display: block;
  color: #ffffff;

  margin-bottom: 30px;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.footer .text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #ffffff;
}
.footer .link {
  display: block;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.footer .link:hover,
.footer .link:focus {
  color: #2196f3;
}
.address .text {
  margin-bottom: 9px;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
/*#endregion*/
/*#region PORTFOLIO*/
.nav__link--portfolio {
  position: relative;

  color: var(--color-button);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav__link--portfolio::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: '';
  display: block;
  width: 100%;
  height: 4px;

  background-color: #2196f3;
  border-radius: 2px;
}
.title-portfolio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* FILTR*/
.filtr .button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  background-color: #f5f4fa;
  color: #212121;
  border: 0;
  border-radius: 4px;
}
/*--- SECTION-----*/
.filtr-button {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filtr {
  display: flex;
  padding-bottom: 50px;
  justify-content: center;
}
.filtr .item + .item {
  margin-left: 8px;
}
.button-all {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  background-color: var(--color-button);
  color: var(--backgr-header);
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;
}
/* .button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
.button:hover,
.button:focus {
  background-color: var(--color-button);
  color: var(--backgr-header);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filtr .button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 22px;
  padding-left: 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* PORTFOLIO IMG*/
.image {
  display: block;
}
.list-img .title {
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  color: #212121;

  margin-bottom: 4px;
}
.list-img .text {
  font-size: 16px;
  line-height: 1.88;

  letter-spacing: 0.03em;

  color: #757575;
}
.address {
  font-style: normal;
}
.link-studio {
  position: relative;

  color: var(--color-button);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link-studio::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: #2196f3;
  border-radius: 2px;
}
.list-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item-img {
  margin-bottom: 30px;
}
.portfolio-border {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.item-img {
  width: 370px;
  margin-right: 30px;
}
.item-img:nth-child(3n) {
  margin-right: 0;
}
.item-img:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
/*________hover portfolio_____*/
.img-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-link:hover,
.img-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*____________OVERLEY__________*/
.image-box {
  position: relative;
  overflow: hidden;
}
.overlay-box {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overley {
  width: 370px;
  height: 294px;

  padding-bottom: 63px;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.img-link:hover .overlay-box,
.img-link:focus .overlay-box {
  transform: translateY(0);
}

/*#endregion*/

/*#region CLIENT LOGO SVG*/
.client-title {
  margin-bottom: 50px;
}
.our-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-item {
  width: 170px;
  height: 92px;
}
.client-link {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  border-color: var(--color-button);
}
.client-link:hover .company-logo,
.client-link:focus .company-logo {
  fill: var(--color-button);
}
.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-list {
  display: flex;
}
.company-logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*#endregion*/
/*#region Footer social icon*/
.footer-container {
  display: flex;
  align-items: baseline;
}
.title-social {
  /* font-style: normal; */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}
/* _______socials icons_________*/
.one-two:not(:last-child) {
  margin-right: 70px;
}
.one-two .social-icon {
  fill: var(--backgr-header);
}
.one-two .socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.one-two .social-item:not(:last-child) {
  margin-right: 10px;
}
.one-two .socials-link {
  display: flex;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--color-button);
}
.socials-link:hover .social-icon,
.socials-link:focus .social-icon {
  fill: #ffffff;
}

/*-------- Подпишись------*/
.footer-lable {
  width: 358px;
  height: 50px;
  margin-right: 12px;
}

.telegram-icon {
  fill: #fff;
  margin-left: 10px;
}
.input-email {
  width: 358px;
  height: 50px;

  padding-left: 16px;
  background-color: #2f303a;
  color: #fff;
  outline: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-email:focus {
  border: 2px solid var(--color-button);
}
.sibscribe .tbn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}
.subscribe-form {
  display: flex;
}
/*#endregion*/
