.logo {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;
  text-decoration: none;

  color: #212121;
}
.logo__web {
  color: var(--color-button);
}

.footer .logo {
  display: block;
  color: #ffffff;

  margin-bottom: 30px;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}
