/* _______socials icons_________*/
.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.socials-link {
  display: flex;
  width: 44px;
  height: 44px;

  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--color-button);
  }

  &:hover .social-icon,
  &:focus .social-icon {
    fill: #ffffff;
  }
}

/* _______socials icons_________*/
.one-two:not(:last-child) {
  margin-right: 70px;
}
.one-two .social-icon {
  fill: var(--backgr-header);
}
.one-two .socials {
  display: flex;
  justify-content: center;
  align-items: center;
}
.one-two .social-item:not(:last-child) {
  margin-right: 10px;
}
.one-two .socials-link {
  display: flex;
  width: 44px;
  height: 44px;

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: var(--color-button);
  }

  &:hover .social-icon,
  &:focus .social-icon {
    fill: #ffffff;
  }
}
